header {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  font-family: var(--font-regular);
  padding-right: 15px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-weight: bold;
  letter-spacing: 5px;
}

.pipe-line {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  height: 35px;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions .bin-icon {
  cursor: pointer;
}

/* MEDIA QUERIES */

/* below 900px */
@media screen and (max-width: 900px) {
  .pipe-line,
  .logo {
    display: none;
  }
}
