.md-input,
.md-preview {
	padding: 15px 25px;
	overflow-y: scroll;
}

.md-preview-container {
	border-left: 1px solid var(--medium-grey);
}

.md-input-container,
.md-preview-container {
	min-width: 50%;
	width: 100%;
}

.md-input-container .eye-icon {
	display: none;
}

main {
	display: flex;
	width: 100%;
}

.md-input {
	resize: none;
	background-color: transparent;
	color: inherit;
	font-family: var(--font-mono);
	line-height: 1.6;
	font-size: 0.9375rem;
	letter-spacing: .01em;
	word-spacing: 0.05em;
	width: 100%;
	border: none;
	height: 100%;
	outline: none;
}

.md-preview {
	color: var(--white);
}

.md-preview.light-theme,
.md-input.light-theme {
	color: var(--black);
	background-color: var(--very-light-grey);
}

/* below 650px */
@media screen and (max-width: 650px) {
	.md-input-container,
	.md-preview-container {
		min-width: 100%;
		width: 100%;
	}
	.md-preview-container {
		border-left: none;
	}
	.md-input-container .eye-icon {
		display: block;
	}
}
